// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// My Css

// ALL Navbar
nav {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 13px #888888;
    position: top;
}

li.hover {
    border: none;
    position: relative;
}

li.hover:hover {
    border: none;
}

li:hover {
    border-bottom: 3px solid red;
}

.hover::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 3px;
    left: 50%;
    bottom: 0;
    background-color: red;
    transition: all ease-in-out .2s;
}

.hover:hover::after {
    width: 100%;
    left: 0;
    border-radius: 10px;
}

// Home Css

.katasam {
    font-size: 170px;
    font-weight: bold;
    margin-left: 100px;
    text-align: right;
}

.imgperempuan {
    width: 450px;
}

.greybackground {
    background-color: #A0A0A0;
    margin-left: 25%;
    width: 75%;
    margin-top: 5%;
    border-top-left-radius: 20px;
    box-shadow: 0px 0px 13px #888888;
}

.textmore {
    padding-top: 3%;
    padding-left: 14%;
    color: white;
}

.textheading {
    padding-top: 4%;
}

.paragrap {
    font-size: 20px;
    margin-top: 2%;
}

.gambartitik {
    width: 15%;
}

.igpict {
    width: 13%;
}

.gmpict {
    width: 13%;
}

.gitpict {
    width: 13%;
}

.profilepict {
    position: relative;
    margin-top: -26%;
    margin-left: 16%;
}
