// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// My Css

// Navbar
nav {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 13px #888888;
    position: top;
}

li.hover {
    border: none;
    position: relative;
}

li.hover:hover {
    border: none;
}

li:hover {
    border-bottom: 3px solid red;
}

.hover::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 3px;
    left: 50%;
    bottom: 0;
    background-color: red;
    transition: all ease-in-out .2s;
}

.hover:hover::after {
    width: 100%;
    left: 0;
    border-radius: 10px;
}

.katasam {
    font-size: 170px;
    font-weight: bold;
    margin-left: 100px;
    text-align: right;
}

.imgperempuan {
    width: 450px;
}
